html {
    position: relative;
}

body {
    margin-bottom: 100px;
    background-color: #f0f8ff;
}

nav {
    background-color: #0a14c7;
}

.jumbotron {
    padding-top: 4rem;
    padding-bottom: 0%;
    /* background-color: #f0f8ff; */
}

.myWords {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #cae6ff;
}

.project {
    padding-top: 2rem;
    padding-bottom: 2em;
    background-color: #f0f8ff;
}

.card {
    background-image: url("img_background/bg_project.jpg");
    padding-top: 2rem;
    padding-bottom: 2rem;
}

form {
    padding-top: 1.5rem;
}

.form {
    min-height: 600px;
}

.form h2 {
    margin-top: 20%;
}

footer {
    position: absolute;
    background-color: #0a14c7;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
    padding: 5px;
}

footer p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.4cm;
}

.card-title {
    text-align: center;
    padding-top: 1rem;
}