/* html {
    position: relative;
} */

body {
    background-color: #f0f8ff;
    /* margin-bottom: 22rem; */
}

.navbar {
    background-color: #0a14c7;
}

.card {
    border-radius: 0%;
}

.col-sm-12 {
    background-color: #0a14c7;
}